<p style="position:fixed;top:0;left:0;">logged in as {{displayName}} {{id}}</p>

<main class="explore-page">

{{!-- FORM FÖR SÖKNING AV RESTAURANGER --}}

<section class="container container--search">
<form action="/search" method="POST" class="form">
<input type="text" name="searchText" id="searchText" class="form__input">
<label for="searchText" class="form__lable">Search for restaurants</label>
<label for="submitBtn" class="form__searchBtn"><i class="fa-solid fa-magnifying-glass"></i></label>
<input type="submit" class="form__submit" value="Search" id="searchBtn" hidden>
</form>
</section>

{{!-- VISA TOP 5 RESTAURANGER --}}

<section class="wrapper wrapper--restaurants">
<h2 class="heading">Top 5 restaurants</h2>

{{!-- {{#each <variabel>}} Ta bort kommentar när restauranger kan hämtas --}}

<div class="container container--restaurant">
<div class="card">
<span class="restaurant-icon restaurant-icon--restaurant" data-restaurant-icon="{{!-- {{<variabel> för restaurang ikon}} --}}"></span>
<h5 class="title">{{!-- {{<variable> för restaurang titel}} --}}1. Bastard Burgers</h5>
<span class="rating rating--restaurant" data-restaurant-rating="{{!-- {{<variabel> för restaurang rating}} --}}4.3"></span>
</div>
<div class="card">
<span class="restaurant-icon restaurant-icon--restaurant" data-restaurant-icon="{{!-- {{<variabel> för restaurang ikon}} --}}"></span>
<h5 class="title">{{!-- {{<variable> för restaurang titel}} --}}2. A.I Ramen</h5>
<span class="rating rating--restaurant" data-restaurant-rating="{{!-- {{<variabel> för restaurang rating}} --}}3.8"></span>
</div>
<div class="card">
<span class="restaurant-icon restaurant-icon--restaurant" data-restaurant-icon="{{!-- {{<variabel> för restaurang ikon}} --}}"></span>
<h5 class="title">{{!-- {{<variable> för restaurang titel}} --}}3. Max</h5>
<span class="rating rating--restaurant" data-restaurant-rating="{{!-- {{<variabel> för restaurang rating}} --}}2.3"></span>
</div>
</div>

{{!-- {{/each}} Ta bort kommentar när restauranger kan hämtas --}}

</section>

{{!-- SENASTE RECENSIONERNA FRÅN ANDRA ANVÄNDARE --}}

<section class="wrapper wrapper--reviews">
<h2 class="heading">Recent reviews</h2>

{{!-- {{#each review}} Ta bort kommentar när recensioner kan hämtas --}}

<div class="container container--review">
<span class="restaurant-icon restaurant-icon--review" data-restaurant-icon="{{!-- {{<variabel>}} för restaurang ikon --}}"></span>
<div class="block">
<h5 class="title">{{!-- {{review.restaurantId}} --}}Bastard Burgers</h5>
<span class="rating rating--review" data-review-rating="{{!-- {{review.rating}} --}}4"></span>
<span class="faded-text">{{!-- {{review.userId}} --}}{{displayName}}</span>
</div>
<a href="/reviews/{{!-- {{review._id}} --}}" class="faded-text" title="Review Link">Read review &gt;</a>
</div>

<div class="container container--review">
<span class="restaurant-icon restaurant-icon--review" data-restaurant-icon="{{!-- {{<variabel>}} för restaurang ikon --}}"></span>
<div class="block">
<h5 class="title">{{!-- {{review.restaurantId}} --}}Bastard Burgers</h5>
<span class="rating rating--review" data-review-rating="{{!-- {{review.rating}} --}}4"></span>
<span class="faded-text">{{!-- {{review.userId}} --}}{{displayName}}</span>
</div>
<a href="/reviews/{{!-- {{review._id}} --}}" class="faded-text" title="Review Link">Read review &gt;</a>
</div>

<div class="container container--review">
<span class="restaurant-icon restaurant-icon--review" data-restaurant-icon="{{!-- {{<variabel>}} för restaurang ikon --}}"></span>
<div class="block">
<h5 class="title">{{!-- {{review.restaurantId}} --}}Bastard Burgers</h5>
<span class="rating rating--review" data-review-rating="{{!-- {{review.rating}} --}}4"></span>
<span class="faded-text">{{!-- {{review.userId}} --}}{{displayName}}</span>
</div>
<a href="/reviews/{{!-- {{review._id}} --}}" class="faded-text" title="Review Link">Read review &gt;</a>
</div>

{{!-- {{/each}} Ta bort kommentar när recensioner kan hämtas --}}

</section>
</main>

<form action="/login/log-out" method="post">
<input type="submit" value="Log Out - temporärt här" style="position:fixed;top:0;right:0;"/>
</form>