<main class="profile-page">

  {{! HEADER FÖR PROFILLAYOUT }}

  <section class="wrapper wrapper--header">
    <div class="container container--header">
      <span class="profile-picture" ></span>
    </div>
    <div class="container container--header">
      <span class="username">{{displayName}}</span>
      <div class="container__header">
        <span class="reviews-amount reviews-amount--header">{{totalReviews}} reviews</span>
        <span class="rating rating--header">Average rating: {{totalRating}}
          {{!-- {{<variabel>}} för average rating, matten görs i route --}}</span>
      </div>
    </div>
  </section>

  {{! MENYBAR FÖR PROFILLAYOUT, SETTINGS VISAS ENDAST IFALL INLOGGAD }}

  <section class="wrapper wrapper--menu">
    <a href="/profile/{{id}}" title="Reviews" class="faded-text{{#if myReviews}} active{{/if}}">My
      Reviews</a>
    <a
      href="/profile/{{id}}/restaurants"
      title="Restaurants"
      class="faded-text{{#if myRestaurants}} active{{/if}}"
    >My Restaurants</a>
    <a href="/profile/{{id}}/settings" title="Settings" class="faded-text{{#if mySettings}} active{{/if}}">Settings</a>
  </section>

  {{! REVIEWS }}

  {{#if myReviews}}

  <section class="wrapper wrapper--reviews">
    {{#each reviews}}
    <div class="container container--review">
      <div class="container__review-header">
        <span class="restaurant-icon restaurant-icon--review restaurant-icon--{{kitchenType}}"></span>
        <span class="restaurant-title restaurant-title--review">{{name}}</span>
      </div>
      <a href="/reviews/edit/{{_id}}" class="edit edit--review"></a>
      <div class="container__review-title">
        <span class="review-title">{{title}}</span>
        <span class="rating rating--review" data-review-rating="{{rating}}"></span>
      </div>
      <div class="container__review-description">
        <span class="description">
          {{description}}
        </span>
      </div>
      <div class="container__review-date">
        <span class="date">{{date}}</span>
      </div>
    </div>
    {{/each}}
  </section>

{{/if}}

  {{! RESTAURANTS }}

  {{!-- <section class="wrapper wrapper--restaurants">
    <div class="container container--restaurant">
      <span class="restaurant-icon restaurant-icon--restaurant"></span>
      <span class="edit edit--restaurant"></span>
      <span class="restaurant-title restaurant-title--restaurant"></span>
      <span
        class="rating rating--restaurant"
        data-restaurant-rating="2.3"
      ></span>
      <span class="reviews-amount reviews-amount--restaurant"></span>
      <span class="address"></span>
    </div>
    <div class="container container--restaurant">
      <span class="restaurant-icon restaurant-icon--restaurant"></span>
      <span class="edit edit--restaurant"></span>
      <span class="restaurant-title restaurant-title--restaurant"></span>
      <span
        class="rating rating--restaurant"
        data-restaurant-rating="2.3"
      ></span>
      <span class="reviews-amount reviews-amount--restaurant"></span>
      <span class="address"></span>
    </div>
  </section> --}}

  {{! SETTINGS }}

  {{#if mySettings}}

  <section class="wrapper wrapper--settings">
    <div class="container container--settings">
      <form action="/profile/log-out" method="post">
      <input type="submit"
        class="account-button account-button--log-out"
     value="Log Out">
     </form>
    </div>
    <div class="container">
      <span class="faded-text"></span>
      <span class="faded-text"></span>
      <span class="faded-text"></span>
    </div>
  </section>

{{/if}}

</main>

{{>navbar}}