 <main class="profile-page">

     <section class="wrapper wrapper--header">
    <div class="container container--header">
      <span class="profile-picture" ></span>
    </div>
    <div class="container container--header">
      <span class="username">{{review.displayName}}</span>
      <div class="container__header">
        <span class="reviews-amount reviews-amount--header">{{totalReviews}} reviews</span>
        <span class="rating rating--header">Average rating:{{#if noReviews}}'({{else}} {{totalRating}}{{/if}}</span>
      </div>
    </div>
  </section>

  <section class="wrapper wrapper--reviews">

<div class="container container--review">
      <div class="container__review-header">
        <span class="restaurant-icon restaurant-icon--review restaurant-icon--{{review.kitchenType}}"></span>
        <span class="restaurant-title restaurant-title--review">{{review.name}}</span>
      </div>
      {{#if review.myReview}}<a href="/reviews/edit/{{review._id}}" class="edit edit--review"></a>{{/if}}
      <div class="container__review-title">
        <span class="review-title">{{review.title}}</span>
        <span class="rating rating--review" data-review-rating="{{review.rating}}"></span>
      </div>
      <div class="container__review-description">
        <span class="description">
          {{review.description}}
        </span>
      </div>
      <div class="container__review-date">
        <span class="date">{{review.date}}</span>
      </div>
    </div>
</section>
</main>
{{>navbar}}