<main class="restaurants-view">
    {{>restaurant-info-box}}
    <div class="filter-container">
        <div>
            <i class="fa fa-arrow-up"></i>
            <i class="fa fa-arrow-down"></i>
        </div>
        <div>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
        </div>
        <div>
            <i class="fa fa-close"></i>
        </div>
    </div>
    <div class="reviews-wrapper">
        {{#each reviews}}
        <div class="review">
            <div class="top-bottom-container">
                <span>{{title}}</span>
                <div data-review-rating="{{rating}}">
                </div>
            </div>
            <div class="text-container">
                <span>{{description}}</span>
            </div>
            <div class="top-bottom-container">
                <span class="timestamp">09 March 2022</span>
                <i class="fa fa-chevron-down"></i>
            </div>
            <span class="username">{{userId.username}}</span>
            
            <a href="/reviews/edit/{{_id}}"><i class="fa fa-pencil pen"></i></a>
        </div>
        {{/each}}
        
    </div>
</main>
{{>navbar}}